<div class="nav-back" ng-click="goBack()">
  <span class="glyphicon glyphicon-arrow-left"></span>
</div>

<div class="team-indicator team{{getCurTeam()}}"></div>

<div class="pyramid-box">
  <div class="pyramid-line">
    <div class="hex hex-clickable" az-hex="1"><span>1</span></div>
  </div>
  <div class="pyramid-line">
    <div class="hex hex-clickable" az-hex="2"><span>2</span></div>
    <div class="hex hex-clickable" az-hex="3"><span>3</span></div>
  </div>
  <div class="pyramid-line">
    <div class="hex hex-clickable" az-hex="4"><span>4</span></div>
    <div class="hex hex-clickable" az-hex="5"><span>5</span></div>
    <div class="hex hex-clickable" az-hex="6"><span>6</span></div>
  </div>
  <div class="pyramid-line">
    <div class="hex hex-clickable" az-hex="7"><span>7</span></div>
    <div class="hex hex-clickable" az-hex="8"><span>8</span></div>
    <div class="hex hex-clickable" az-hex="9"><span>9</span></div>
    <div class="hex hex-clickable" az-hex="10"><span>10</span></div>
  </div>
  <div class="pyramid-line">
    <div class="hex hex-clickable" az-hex="11"><span>11</span></div>
    <div class="hex hex-clickable" az-hex="12"><span>12</span></div>
    <div class="hex hex-clickable" az-hex="13"><span>13</span></div>
    <div class="hex hex-clickable" az-hex="14"><span>14</span></div>
    <div class="hex hex-clickable" az-hex="15"><span>15</span></div>
  </div>
  <div class="pyramid-line">
    <div class="hex hex-clickable" az-hex="16"><span>16</span></div>
    <div class="hex hex-clickable" az-hex="17"><span>17</span></div>
    <div class="hex hex-clickable" az-hex="18"><span>18</span></div>
    <div class="hex hex-clickable" az-hex="19"><span>19</span></div>
    <div class="hex hex-clickable" az-hex="20"><span>20</span></div>
    <div class="hex hex-clickable" az-hex="21"><span>21</span></div>
  </div>
  <div class="pyramid-line">
    <div class="hex hex-clickable" az-hex="22"><span>22</span></div>
    <div class="hex hex-clickable" az-hex="23"><span>23</span></div>
    <div class="hex hex-clickable" az-hex="24"><span>24</span></div>
    <div class="hex hex-clickable" az-hex="25"><span>25</span></div>
    <div class="hex hex-clickable" az-hex="26"><span>26</span></div>
    <div class="hex hex-clickable" az-hex="27"><span>27</span></div>
    <div class="hex hex-clickable" az-hex="28"><span>28</span></div>
  </div>
</div>