<div class="row question-container">
  <div class="col-xs-2 qst-nav-col">
    <div class="hex hex-clickable hex-qst-back" ng-click="myEnd()" ng-show="isAnswered">
      <span class="glyphicon-arrow-left"></span>
    </div>
    <div class="hex hex-qst-active"
         ng-class="{hex1: team === 1, hex2: team === 2}">
      <span>12</span>
    </div>
  </div>
  <div class="col-xs-8">
    <p class="question"
       ng-class="{clickable: question.hasOneAnswer() &amp;&amp; !oneAnsVisible}"
       ng-click="oneAnsVisible = true">{{question.text}}</p>
    
    <!-- Multiple Choices -->
    <ol class="my-ol" type="A" ng-if="!question.hasOneAnswer()">
      <li
        class="answer" 
        ng-class="{
          'answer-correct': isAnswered &amp;&amp; $index == correctAnsIndex,
          'answer-wrong': isAnswered &amp;&amp; $index != correctAnsIndex &amp;&amp; selectedAnswer == $index,
          'clickable': !isAnswered}"
        ng-click="selectAnswer($index)"
        ng-repeat="answer in question.answers">

        {{answer}}
      </li>
    </ol>

    <!-- One Answer Mode -->
    <div ng-if="question.hasOneAnswer()" ng-show="oneAnsVisible">
      <div class="correct-wrong-btns">
        <div class="hex hex-clickable hex-qst-wrong"
             ng-class="{'hex-inactive': oneAnsState === 1}"
             ng-click="setOneAnsState(0)">
          <span class="glyphicon-remove"></span>
        </div>
        <div class="hex hex-clickable hex-qst-correct"
             ng-class="{'hex-inactive': oneAnsState === 0}"
             ng-click="setOneAnsState(1)">
          <span class="glyphicon-ok"></span>
        </div>
      </div>
      <div class="answer one-answer">
        {{question.$correctAnswer}}
      </div>
    </div>
  </div>
</div>